.border {
  margin: 5px;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navbar li {
  float: left;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}

.navbar li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: gray;
  font-size: 20px;
}
