.photoblock {
  height: 600px;
  width: 50%;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
  }
  .photoblock {
    flex: none;
    width: 20%;
    margin: 10px;
  }

  .detail {
    flex: none;
    width: 80%;
  }
}
.originalDisplay {
  display: setIsAboutChanged
}
.languageDisplay {
  display: none;
}
