.border {
  font-size: 15px;
  padding: 0%;
  border: 1px solid gray;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 10px;
  border-radius: 5px;
  display: flex;
}
.border li {
  margin: 10px;
}
.profolioBlock {
  flex: none;
  width: 25%;
}
.imageBlcok {
  flex: none;
  width: 75%;
}
.imageSize {
  height: 150px;
  margin-top: 40px;
}
